# Python dependencies to build the documentation
# keep in sync with the "docs" extra in pyproject.toml
numpy
sphinx
ipykernel
nbsphinx
sphinx-gallery
pydata_sphinx_theme
myst-parser
sphinx-design
sphinx-toolbox
linkify-it-py
sphinxcontrib-mermaid
