name: check_formatting
on: [push, pull_request]
jobs:
  formatting_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-version: latest
          miniforge-variant: mambaforge
          channel-priority: strict
          channels: conda-forge
          show-channel-urls: true
          use-only-tar-bz2: true

      - name: Install dependencies and check formatting
        shell: bash -l {0}
        run:
          mamba install --quiet --yes --file requirements.txt black &&
          black tobac --check
