name: Codecov CI

on: [push, pull_request]

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      OS: ubuntu-latest
      PYTHON: '3.9'
    steps:
    - uses: actions/checkout@v2
    # Similar to MetPy install-conda action
    - name: Set up conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        miniforge-version: latest
        miniforge-variant: mambaforge
        channel-priority: strict
        channels: conda-forge
        show-channel-urls: true
        use-only-tar-bz2: true
    
    - name: Install dependencies and generate report
      shell: bash -l {0}
      run: mamba install --quiet --yes --file conda-requirements.txt coverage pytest-cov &&
           python -m coverage run -m pytest --cov=./ --cov-report=xml
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v3
      with: 
        fail_ci_if_error: true
        flags: unittests
  